@font-face {
 font-family: "Avenir Medium";
 src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot");
 src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir Medium") format("svg");
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
}

$background-color-primary: #ffffff;
$background-color-one: rgba(0, 0, 0, 0.54);
$black: #000000;
$op-black: rgba(0, 0, 0, 0.54);
$porta-c: #464646;
$text-c: #414141;
$whitey: #f8f8f8;
$grey-services: #acacac;
$grey-softy: #979797;
$color-drakov: #323232;
$color-callme: #3d3d3d;
$gray-lorem: #999999;
$color-input: #303030;
$color-follow: #7a7a7a;
$y-gmail-color: #737373;
$primary-font: "Raleway",
sans-serif;
$secondary-font: "Avenir Medium",
sans-serif;


* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.clearfix {
 zoom: 1;
}

body {
 background-color: $background-color-primary;
 font-family: $primary-font;
}

h1,
h2,
h4,
h5,
h6 {
 font-family: $primary-font;
}

h3 {
 font-family: $secondary-font;
}

// navigation based on code from https://codepen.io/mranenko/pen/wevamj

/* colors */
$brownish: #1e1e1e;

/* variables */
$nav-toggle-bar-color: white;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-width: 3.6rem;
$nav-background: $brownish;
$nav-color: white;
$nav-width: 100%;
$z-nav-toggle: 30;
$z-nav: 20;

/* mixins */
@mixin box-sizing($box-sizing: border-box) {
 -webkit-box-sizing: $box-sizing;
 -moz-box-sizing: $box-sizing;
 box-sizing: $box-sizing;
}

@mixin center-vertically($position: absolute) {
 position: $position;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

@mixin text-size-adjust {
 -webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
}

@mixin transform($transform) {
 -ms-transform: $transform;
 -webkit-transform: $transform;
 transform: $transform;
}

@mixin transition($parameters: all 0.5s ease) {
 -webkit-transition: $parameters;
 -moz-transition: $parameters;
 -ms-transition: $parameters;
 -o-transition: $parameters;
 transition: $parameters;
}

@mixin user-select {
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
}

/* resets and base styles */
* {
 @include box-sizing;
 @include text-size-adjust;

 &:focus {
  outline: none;
 }
}

/* nav toggle */
.nav-toggle {
 @include user-select;
 cursor: pointer;
 height: 5 * $nav-toggle-bar-height;
 left: 2rem;
 position: fixed;
 top: 2rem;
 width: $nav-toggle-bar-width;
 z-index: $z-nav-toggle;

 &:hover {
  opacity: 0.8;
  transform: scale(1.1);
 }

 .nav-toggle-bar,
 .nav-toggle-bar::after,
 .nav-toggle-bar::before {
  @include center-vertically;
  @include transition(all 0.5s ease);
  background: $nav-toggle-bar-color;
  content: '';
  height: $nav-toggle-bar-height;
  width: 100%;
 }

 .nav-toggle-bar {
  margin-top: 0;
 }

 .nav-toggle-bar::after {
  margin-top: 2 * $nav-toggle-bar-height;
 }

 .nav-toggle-bar::before {
  margin-top: -2 * $nav-toggle-bar-height;
 }

 &.expanded .nav-toggle-bar {
  background: transparent;
 }

 &.expanded .nav-toggle-bar::after,
 &.expanded .nav-toggle-bar::before {
  background: $nav-color;
  margin-top: 0;
 }

 &.expanded .nav-toggle-bar::after {
  @include transform(rotate(45deg));
 }

 &.expanded .nav-toggle-bar::before {
  @include transform(rotate(-45deg));
 }
}

/* nav */
.nav {
 @include transition(left 0.5s ease);
 background: $nav-background;
 color: $nav-color;
 cursor: pointer;
 font-size: 2rem;
 height: 100vh;
 left: -$nav-width;
 padding: 6rem 2rem 2rem 2rem;
 position: fixed;
 top: 0;
 width: $nav-width;
 z-index: $z-nav;

 &.expanded {
  left: 0;
 }

 ul {
  @include center-vertically;
  padding-top: 200px;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
 }

 ul li {
  margin: 30px;
  ;
 }

 ul a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
   color: #a1baf4;
  }
 }
}

// end of navigation

// hero carousel
.hero_slide {
 position: relative;
}

.hero_text {
 font-size: 4.5rem;
 font-weight: 900;
 margin-bottom: 40px;
}

.hero_img {
 margin-left: auto;
 margin-right: auto;
}

.hero_combined {
 position: absolute;
 top: 35%;
 left: 0;
 text-align: center;
 width: 100%;
 color: black;
 z-index: 10;
 color: $whitey;
}

.hero_rectangle {
 margin-top: 100px;
}

.hero_link_rectangle {
 padding: 10px;
 background-color: $background-color-primary;
 text-decoration: none;
 font-family: $primary-font;
 font-size: 1.35rem;
 text-align: center;
 color: $black;
}

.hero_link_rectangle:hover {
 color: white;
 background-color: #a1baf4;
}

.hero_controls {
 font-size: 4rem;
 position: absolute;
 top: 15%;
 z-index: 10;
 color: white;
 background-color: transparent;
 background-repeat: no-repeat;
 border: none;
 cursor: pointer;
 overflow: hidden;
 outline: none;
}

.hero_controls:hover {
 transform: scale(1.1);
}

.hero_controls_prev {
 left: 50px;
}

.hero_controls_next {
 right: 50px;
}

// end of hero carousel

// logos carousel
.logos_siema {
 text-align: center;
 position: relative;
 left: 75px;
 right: 75px;
 width: 85%;
 margin-top: 40px;
 margin-bottom: 20px;
}

.logos_siema figure img {
 opacity: 1;
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}

.logos_siema figure:hover img {
 filter: brightness(50%);
}

.logos_controls {
 font-size: 2.5rem;
 position: relative;
 z-index: 10;
 color: #4f4f4f;
 background-color: transparent;
 background-repeat: no-repeat;
 border: none;
 cursor: pointer;
 overflow: hidden;
 outline: none;
}

.logos_controls:hover {
 transform: scale(1.8);
}

.logos_controls_prev {
 top: 80px;
 left: 5%;
}

.logos_controls_next {
 top: -65px;
 left: 90%;
}

// end of logos carousel

.header_white {
 color: $background-color-primary;
}

.header_black {
 color: $black;
}

@media (min-width: 360px) {
 #content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  position: relative;
 }

 header {
  grid-column: 1 / 5;
 }

 .header {

  .hero_link_rectangle_rectangle {
   width: 130px;
   height: 44px;
   background-color: $background-color-primary;
  }

  .cta {
   height: 19px;
   font-family: $primary-font;
   font-size: 16px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: $black;
  }

 }

 .services_text {
  width: 320px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: $gray-lorem;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 50px;
  margin-bottom: 30px;
 }

 // grid definitions
 .product_1_image {
  grid-column: 1 / 5;
 }

 .product_1_copy {
  grid-column: 1 / 5;
 }

 .product_2_image {
  grid-column: 1 / 5;
  grid-row-start: 4;
 }

 .product_2_copy {
  grid-column: 1 / 5;
 }

 .services_title {
  grid-column: 1 / 5;
 }

 .services_list_1 {
  grid-column: 1 / 5;
 }

 .services_list_2 {
  grid-column: 1 / 5;
 }

 .services_list_3 {
  grid-column: 1 / 5;
 }

 .logos {
  grid-column: 1 / 5;
 }

 .contact_title {
  grid-column: 1 / 5;
 }

 .contact_copy {
  grid-column: 1 / 5;
 }

 .contact_location {
  grid-column: 1 / 5;
 }

 .contact_actions {
  grid-column: 1 / 5;
 }

 .contact_write {
  grid-column: 1 / 5;
 }

 .footer_title {
  grid-column: 1 / 5;
 }

 .footer_social_icons_1 {
  grid-column: 1 / 5;
 }

 .footer_social_icons_2 {
  grid-column: 1 / 5;
 }

 .footer_newsletter_title {
  grid-column: 1 / 5;
 }

 .footer_newsletter_write {
  grid-column: 1 / 5;
 }

 // screen specific
 .contact_copy_allign {
  text-align: left;
  margin-left: 20px !important;
 }

 .follow_allign {
  text-align: center;
 }

 .newsletter_allign {
  text-align: center;
 }

 .social_icons_allign {
  text-align: center;
  padding: 12px;

  i {
   padding-left: 25px;
   padding-right: 25px;
  }

 }

 .services {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $background-color-primary;
 }

 .services_text_2 {
  width: 320px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: $gray-lorem;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 50px;
 }

}

@media (min-width: 800px) {
 #content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  position: relative;
 }

 header {
  grid-column: 1 / 13;
 }

 .header {

  .hero_link_rectangle_rectangle {
   width: 130px;
   height: 44px;
   background-color: $background-color-primary;
  }

  .hero_rectangle {
   margin-top: 100px;
  }

  .cta {
   width: 83px;
   height: 19px;
   font-family: $primary-font;
   font-size: 16px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: $black;
  }

 }

 // grid definitions

 .product_1_image {
  grid-column: 2 / 7;
  grid-row-start: 2;
 }

 .product_1_copy {
  grid-column: 7 / 12;
  grid-row-start: 2;
 }

 .product_2_copy {
  grid-column: 2 / 5;
  grid-row-start: 3;
 }

 .product_2_image {
  grid-column: 5 / 12;
  grid-row-start: 3;
 }

 .services_title {
  grid-column: 2 / 12;
  grid-row-start: 4;
 }

 .services_list_1 {
  grid-column: 2 / 5;
  grid-row-start: 5;
 }

 .services_list_2 {
  grid-column: 5 / 9;
  grid-row-start: 5;
 }

 .services_list_3 {
  grid-column: 8 / 12;
  grid-row-start: 5;
 }

 .logos {
  grid-column: 2 / 12;
  grid-row-start: 6;
 }

 .contact_title {
  grid-column: 3 / 10;
  grid-row-start: 7;
  ;
 }

 .contact_copy {
  grid-column: 3 / 10;
  grid-row-start: 8;
 }

 .contact_location {
  grid-column: 3 / 6;
  grid-row-start: 9;
 }

 .contact_actions {
  grid-column: 3 / 6;
  grid-row-start: 10;
 }

 .contact_write {
  grid-column: 7 / 12;
  grid-row: 9 / 11;
 }

 .footer_title {
  grid-column: 1 / 13;
 }

 .footer_social_icons_1 {
  grid-column: 1 / 7;
  grid-row-start: 12;
 }

 .footer_social_icons_2 {
  grid-column: 7 / 13;
  grid-row-start: 12;
 }

 .footer_newsletter_title {
  grid-column: 1 / 13;
 }

 .footer_newsletter_write {
  grid-column: 1 / 13;
 }

 // screen specific
 .product_box {
  padding-top: 20px;
  padding-bottom: 20px
 }

 .product_image_center {
  text-align: center;
 }

 .contact_copy_allign {
  text-align: center;
 }

 .social_icons_allign_1 {
  text-align: right;
 }

 .social_icons_allign_2 {
  text-align: left;
 }

 table.contact_actions th {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin-top: 0px;
 }

 .services_title {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
  padding-bottom: 55px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $background-color-primary;
 }

 .services_text_2 {
  width: 320px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: $gray-lorem;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 50px;
  margin-bottom: 150px;
 }

}

.bg_color_white {
 background-color: $background-color-primary;
}

.bg_color_black {
 background-color: $black;
}

.bg_color_whitey {
 background-color: $whitey;
}

.product_title {
 height: 29px;
 font-family: Raleway;
 font-size: 23px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $porta-c;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 20px;
 text-align: left;
}


.text_copy {
 font-family: $primary-font;
 font-size: 16px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.5;
 letter-spacing: normal;
 color: $text-c;
 margin-top: 20px;
 margin-left: 20px;
 margin-bottom: 20px;
 text-align: left;
}

.read_more {
 font-family: Raleway;
 font-size: 14px;
 font-weight: bold;
 margin-top: 0;
 color: $porta-c;
 text-transform: uppercase;
 white-space: nowrap;
 margin-left: 20px;
 text-decoration: none;
 margin-bottom: 40px !important;
}


.img_2_mobile,
.img_1_mobile {
 height: 177px;
 object-fit: contain;
 border-radius: 6px;
 margin-top: 30px;
 margin-right: 21px;
 margin-bottom: 20px;
 margin-left: 20px;
}

.services {
 font-family: Raleway;
 font-size: 36px;
 font-weight: 400;
 margin-top: 80px;
 margin-left: 20px;
 margin-bottom: 15px;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $background-color-primary;
}

.services_title {
 font-family: Raleway;
 font-size: 36px;
 font-weight: 400;
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $background-color-primary;
}

.services_large {
 font-family: Raleway;
 font-size: 36px;
 font-weight: 400;
 margin-top: 80px;
 margin-bottom: 25px;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $background-color-primary;
}

.contact-title {
 margin-left: 20px;
 margin-bottom: 0;
}

.contact_titleL {
 height: 42px;
 font-family: Raleway;
 font-size: 36px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $porta-c;
 margin-top: 100px;
 margin-bottom: 43px;
}

.contact_text {
 margin-bottom: 40px;
}

.agency_name {
 height: 63px;
 font-family: Avenir Medium;
 font-size: 15px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.4;
 letter-spacing: normal;
 color: $color-drakov;
 margin-top: 0;
 margin-bottom: 10px;
 margin-left: 21px;
}

.map {
 width: 95px;
 height: 18px;
 font-family: Raleway;
 font-size: 15px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: $black;
 margin-top: 0;
 margin-right: 244px;
 margin-bottom: 35px;
 margin-left: 21px;
 white-space: nowrap;
}

.contact_actions_table {
 height: 75px;
 font-family: Raleway;
 font-size: 12px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 2.08;
 letter-spacing: normal;
 margin-top: 10px;
 margin-bottom: 30px;
 margin-left: 20px;
 color: $color-callme;
 white-space: nowrap;
 text-align: left;
}

table.contact_actions th,
.scope {
 text-transform: uppercase;
 font-weight: normal;
 text-align: left;
}

table.contact_actions td {
 text-decoration: none;
}

.tel {
 font-family: Avenir Medium;
 font-size: 15px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $color-drakov;
 margin-top: 0;
 margin-right: 133px;
 margin-bottom: 9px;
 margin-left: 29px;
}

.e-mail {
 width: 124px;
 height: 15px;
 font-family: Avenir Medium;
 font-size: 15px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $color-drakov;
 margin-top: 8px;
 margin-bottom: 8px;
 margin-left: 30px;
}

.webmail {
 width: 98px;
 height: 15px;
 font-family: Avenir Medium;
 font-size: 15px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $color-drakov;
 margin-top: 8px;
 margin-bottom: 8px;
 margin-left: 30px;
}

form.contact_form>* {
 display: block;
}

input[type=name],
input[type=email] {
 width: 320px;
 height: 32px;
 border: solid 1px $grey-softy;
 margin-right: 20px;
 margin-bottom: 10px;
 margin-left: 20px;
 font-family: Raleway;
 font-size: 14px;
 font-weight: 300;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.79;
 letter-spacing: normal;
 color: $color-input;
 padding-top: 4px;
 padding-bottom: 3px;
 padding-left: 17px;
}

.question {
 width: 320px;
 height: 171px;
 border: solid 1px $grey-softy;
 margin-top: 0;
 margin-right: 20px;
 margin-bottom: 10px;
 margin-left: 20px;
 font-family: Raleway;
 font-size: 14px;
 font-weight: 300;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.79;
 letter-spacing: normal;
 color: $color-input;
 padding-top: 4px;
 padding-left: 14px;
 resize: none;
}

input[type=submit] {
 width: 96px;
 height: 32px;
 background-color: $black;
 margin-top: 0;
 margin-right: 20px;
 margin-bottom: 40px;
 margin-left: 244px;
 font-family: Raleway;
 font-size: 16px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: $background-color-primary;
 padding-top: 6px;
 padding-right: 6px;
 padding-bottom: 7px;
 padding-left: 7px;
}

.follow {
 font-family: Raleway;
 font-size: 18px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $color-follow;
 margin-top: 30px !important;
 margin-bottom: 25px;
 white-space: nowrap;
}

.newsletter {
 font-family: Raleway;
 font-size: 18px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: $color-follow;
 margin-top: 48px;
 margin-bottom: 0;
}

.newsletter_signup {
 text-align: center;
}

.newsletter_signup .email {
 background-color: black;
 border: solid 1px $grey-softy;
 width: 208px;
 height: 32px;
 margin-top: 21px;
 margin-right: 16px;
 margin-bottom: 30px;
 margin-left: 20px;
 font-family: Raleway;
 font-size: 14px;
 font-weight: 300;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.79;
 letter-spacing: normal;
 color: $y-gmail-color;
 padding-left: 14px;
 padding-top: 4px;
 padding-bottom: 3px;
}

.nws_signup {
 margin-bottom: 60px;
}

.newsletter_signup .signup_submit {
 border: solid 1px $grey-softy;
 width: 96px;
 height: 32px;
 background-color: $background-color-primary;
 margin-bottom: 30px;
 font-family: Raleway;
 font-size: 16px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: $black;
 padding-top: 6px;
 padding-right: 6px;
 padding-bottom: 7px;
 padding-left: 7px;
}
