@font-face {
  font-family: "Avenir Medium";
  src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot");
  src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff") format("woff"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Avenir Medium", sans-serif;
}

/* colors */
/* variables */
/* mixins */
/* resets and base styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*:focus {
  outline: none;
}

/* nav toggle */
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 30;
}

.nav-toggle:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #1e1e1e;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -100%;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.nav.expanded {
  left: 0;
}

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 200px;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 30px;
}

.nav ul a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.nav ul a:hover {
  color: #a1baf4;
}

.hero_slide {
  position: relative;
}

.hero_text {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 40px;
}

.hero_img {
  margin-left: auto;
  margin-right: auto;
}

.hero_combined {
  position: absolute;
  top: 35%;
  left: 0;
  text-align: center;
  width: 100%;
  color: black;
  z-index: 10;
  color: #f8f8f8;
}

.hero_rectangle {
  margin-top: 100px;
}

.hero_cta {
  padding: 10px;
  background-color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.35rem;
  text-align: center;
  color: #000000;
}

.hero_cta:hover {
  color: white;
  background-color: #a1baf4;
}

.hero_controls {
  font-size: 4rem;
  position: absolute;
  top: 15%;
  z-index: 10;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.hero_controls:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero_controls_prev {
  left: 50px;
}

.hero_controls_next {
  right: 50px;
}

.logos_siema {
  text-align: center;
  position: relative;
  left: 75px;
  right: 75px;
  width: 85%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.logos_siema figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.logos_siema figure:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.logos_controls {
  font-size: 2.5rem;
  position: relative;
  z-index: 10;
  color: #4f4f4f;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.logos_controls:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.logos_controls_prev {
  top: 80px;
  left: 5%;
}

.logos_controls_next {
  top: -65px;
  left: 90%;
}

.header_white {
  color: #ffffff;
}

.header_black {
  color: #000000;
}

@media (min-width: 360px) {
  #content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 0 auto;
    position: relative;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .header {
    /*.hamburger {
		display: grid;
		width: 35px;
		height: 20px;
		top: 25px;
		bottom: 595px;
		left: 30px;
		right: 295px;
		object-fit: contain;
		position: absolute;
		z-index: 2;
	} */
  }
  .header .menu {
    width: 48px;
    height: 21px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .header .header_img {
    max-width: 100%;
    margin: 0;
    background-color: #ffffff;
    background-size: cover;
  }
  .header .cta_rectangle {
    width: 130px;
    height: 44px;
    background-color: #ffffff;
  }
  .header .cta {
    height: 19px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .-Lorem-ipsum-dolor {
    width: 320px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0px;
    color: #999999;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .product_1_image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .product_1_copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .product_2_image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .product_2_copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .services_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .services_list_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .services_list_2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .services_list_3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .logos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_actions {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_write {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer_social_icons_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer_social_icons_2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer_newsletter_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .footer_newsletter_write {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .contact_copy_allign {
    text-align: left;
    margin-left: 20px !important;
  }
  .follow_allign {
    text-align: center;
  }
  .newsletter_allign {
    text-align: center;
  }
  .social_icons_allign {
    text-align: center;
    padding: 12px;
  }
  .social_icons_allign i {
    padding-left: 25px;
    padding-right: 25px;
  }
  .services {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .-Lorem-ipsum-dolor_2 {
    width: 320px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0px;
    color: #999999;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 50px;
  }
}

@media (min-width: 800px) {
  #content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    position: relative;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .header_img {
    max-width: 100%;
    margin: 0;
    background-color: #ffffff;
    background-size: cover;
  }
  .cta_rectangle {
    width: 130px;
    height: 44px;
    background-color: #ffffff;
  }
  .hero_rectangle {
    margin-top: 100px;
  }
  .cta {
    width: 83px;
    height: 19px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
}

.product_1_image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.product_1_copy {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.product_2_copy {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.product_2_image {
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.services_title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.services_list_1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.services_list_2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.services_list_3 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.logos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.contact_title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.contact_copy {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.contact_location {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.contact_actions {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.contact_write {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9 / 11;
}

.footer_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.footer_social_icons_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.footer_social_icons_2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.footer_newsletter_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.footer_newsletter_write {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.product_box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.product_image_center {
  text-align: center;
}

.contact_copy_allign {
  text-align: center;
}

.social_icons_allign_1 {
  text-align: right;
}

.social_icons_allign_2 {
  text-align: left;
}

table.contact_actions th {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin-top: 0px;
}

.services_title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
  padding-bottom: 55px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.-Lorem-ipsum-dolor_2 {
  width: 320px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: #999999;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 50px;
  margin-bottom: 150px;
}

.bg_color_white {
  background-color: #ffffff;
}

.bg_color_black {
  background-color: #000000;
}

.bg_color_whitey {
  background-color: #f8f8f8;
}

.product_title {
  height: 29px;
  font-family: Raleway;
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: left;
}

.text_copy {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #414141;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.Read-more {
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  color: #464646;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 20px;
  text-decoration: none;
  margin-bottom: 40px !important;
}

.img-2-mobile,
.img-1-mobile {
  height: 177px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-top: 30px;
  margin-right: 21px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.services {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.services_title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.services_large {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.contact-title {
  margin-left: 20px;
  margin-bottom: 0;
}

.contact_titleL {
  height: 42px;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  margin-top: 100px;
  margin-bottom: 43px;
}

.contact_text {
  margin-bottom: 40px;
}

.agency_name {
  height: 63px;
  font-family: Avenir Medium;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #323232;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 21px;
}

.map {
  width: 95px;
  height: 18px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-right: 244px;
  margin-bottom: 35px;
  margin-left: 21px;
  white-space: nowrap;
}

/* .contact_location {
 margin-top: -28px;
} */
.contact_actions_table {
  height: 75px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #3d3d3d;
  white-space: nowrap;
  text-align: left;
}

table.contact_actions th,
.scope {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
}

table.contact_actions td {
  text-decoration: none;
}

.tel {
  font-family: Avenir Medium;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #323232;
  margin-top: 0;
  margin-right: 133px;
  margin-bottom: 9px;
  margin-left: 29px;
}

.e-mail {
  width: 124px;
  height: 15px;
  font-family: Avenir Medium;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #323232;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 30px;
}

.webmail {
  width: 98px;
  height: 15px;
  font-family: Avenir Medium;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #323232;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 30px;
}

form.contact_form > * {
  display: block;
}

input[type=name],
input[type=email] {
  width: 320px;
  height: 32px;
  border: solid 1px #979797;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #303030;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.question {
  width: 320px;
  height: 171px;
  border: solid 1px #979797;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #303030;
  padding-top: 4px;
  padding-left: 14px;
  resize: none;
}

input[type=submit] {
  width: 96px;
  height: 32px;
  background-color: #000000;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 244px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.follow {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a7a7a;
  margin-top: 30px !important;
  margin-bottom: 25px;
  white-space: nowrap;
}

.Newsletter {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7a7a7a;
  margin-top: 48px;
  margin-bottom: 0;
}

.newsletter_signup {
  text-align: center;
}

.newsletter_signup .email {
  background-color: black;
  border: solid 1px #979797;
  width: 208px;
  height: 32px;
  margin-top: 21px;
  margin-right: 16px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #737373;
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.nws_signup {
  margin-bottom: 60px;
}

.newsletter_signup .signup_submit {
  border: solid 1px #979797;
  width: 96px;
  height: 32px;
  background-color: #ffffff;
  margin-bottom: 30px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 7px;
  padding-left: 7px;
}
/*# sourceMappingURL=main.css.map */